SECRET_KEY=your-frontend-secret-keywithabi
ACC_SECRET=DO NOT USE THIS VALUE. INSTEAD, CREATE A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE
REF_SECRET=D, dfasdfasdfasdfads A COMPLEX SECRET AND KEEP IT SAFE OUTSIDE OF THE SOURCE CODE.
HOST=localhost
USER_NAME=tati
PASSWORD=123
DB=ekub
PORT=3306
ORIGIN=http://localhost:5173